.logo {
width: 20%;
}

.conteiner {
  width: 100%;
  
  position: relative;
  background-position: center;
}

.fondo {
  width: 100%;
  opacity: .8;
}

.wrap-texto {
  display: flex;
  color: rgb(0, 0, 0);
  position: absolute;
  

  text-align: auto;

}


